<section class="content-header">
  <h1> Results </h1>
</section>

<section class="content">
  <% if @business_list.empty? %>
    <br><br>
    <h2 class='text-center text-warning'> Sorry! We couldn't find any results, please try another search term </h2>
    <br><br>
    <p class="center-text">I want to...</p>
    <br>
    <%= render "shared/search_bar" %>
  <% end %>
  <div class='center'>
    <div class='flex-container flex-start box-padding'>
      <% @business_list.each do |b| %>
        <div class="box result-box">
          <div class="box-header center-text">
            <h2 class="box-title"><%= b.name %></h2>
          </div>
          <div class="box-body">
            <!--<img src="https://picsum.photos/390/300">-->
            <!--<b>Availability: </b><%= b.timings_available.sort.to_sentence %><br>-->
            <i class="fa fa-usd"></i>  <%= b.price_min %> - <%= b.price_max %>/pax
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <i class="fa fa-star"></i>  4.3
            <br><br>
            <i class="fa fa-map-pin"></i>  <%= b.address %>
          </div>
          <div class="box-footer">
            <%= button_to "Book Appointment", new_activity_path, class: "btn-primary large pull-right", method: :get, params: { b_id: b.hash_id } %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
