<section class="content-header">
  <h1> Dashboard </h1>
</section>

<section class="content">
  <!-- ACCOUNT INFO -->
  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Account</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
          </div>
        </div>

        <div class="box-body" style="">
          <div class="row">
            <div class="col-md-8">
              <p class="text-center">
                <strong>Current Account</strong>
              </p>

              <div class="chart">
                <!-- Sales Chart Canvas -->
                <canvas id="salesChart" style="height: 180px; width: 575px;" height="225" width="718"></canvas>
              </div>
              <!-- /.chart-responsive -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- SEARCH BAR -->
  <div class="row">
    <div class="col-md-8">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">I want to...</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
          </div>
        </div>

        <div class="box-body" style="">
          <div class="row">
            <div class="col-md-12">
              <%= form_tag(search_results_businesses_path, :method => "get") do %>
              <div class="search-container center">
                <%= text_field_tag 'search[activity]', nil, required: true, class:"form-control search-box", placeholder: "bowl, cut hair, visit a doctor..." %>

                at
                <div class="select-container">
                  <%= select_tag 'search[timings]', options_for_select(@timings, @timings.first), required: true, class:"form-control search-box" %>
                  <i class="fa fa-caret-down"></i>
                </div>
                near
                <%= text_field_tag 'search[location]', nil, required: true, class:"form-control search-box", placeholder: "Location or Postal Code" %>

                <%= submit_tag "Search!", class: "btn btn-primary large pull-right"%>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
